
body{
background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOL_n7qS8PSzbvYuu2DIxscT-UxQJ68TvJBQ&s");
background-size:contain;
}

#flower{
    display:inline-block;
    height:100px;
    width:1440px;
    background-image:url('soft aura.jpeg');
    background-size:contain;
    margin-bottom:20px;
    padding-bottom:20px;
    margin-left:30px;
}
#nav{
    display:inline-block;
    height:50px;
    width:1440px;
    background-color:black;
    margin-left:30px;
}
.c{
    color:white;
    padding-left:50px;
}
.l{
    color:white;
    padding-left:900px;
}
.m{
    color:white;
    padding-left:40px;
}

h1{
    text-align:center;
    color:black;
}
h3{
    text-align:center;
    color:black;
}
article{
    font-family:sans-serif;
    font-size:20px;
    color:black;
}
li{
    font-family:none;
    font-size:20px;
    color:black;
}
#blog{
    font-family:sans-serif;
    font-size:40px;
    color:rgb(54, 139, 54);
    text-align:center;
}
button{
    position:fixed;
    font-size:20px;
    background-color:rgb(7, 88, 7);
    height:50px;
    width:150px;
    margin-bottom:80px;
    text-decoration:none;
    color:white;
}
a{
    text-decoration:none;
    color:white;
}
footer{
    padding-top:30px;
    background-color:rgb(78, 78, 157);
}
#o{
  padding-left:655px;
}
#p{
    padding-left:20px;
}
#k{
    padding-left:20px;
}
#u{
    padding-left:20px;
}
#i{
    padding-left:20px;
}
#trend {
    display: inline-block;
    height:100px;
    width:1100px;
}
#blogdiv{
  display:inline-block;
  height:150px;
  width:150px;
  background-color:rgb(171, 233, 171);
  border:solid 5px black;
  border-radius:10%;
  text-align:center;
  margin-left:650px;
}
#blossom{
    border-radius:10%;
    height:120px;
    width:150px;
}
#err{
    height:100px;
    width:150px;
}